/**/gitlab.rb
/**/gitlab-secrets.json
/**/ssh_host_ecdsa_key
/**/ssh_host_ecdsa_key.pub
/**/ssh_host_ed25519_key
/**/ssh_host_ed25519_key.pub
/**/ssh_host_rsa_key
/**/ssh_host_rsa_key.pub
/**/trusted-certs
*.pdf
